@model FlightDetailsViewModel
@{
    ViewData["Title"] = "Flight details";
    int index = 1;
}

<h1 class="text-white">@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div class="d-flex justify-content-between">
                <div class="form-group w-50 mr-2">
                    <label asp-for="Origin"></label>
                    <label class="form-control">@Model.Origin</label>
                </div>
                <div class="form-group w-50 ml-2">
                    <label asp-for="Destination"></label>
                    <label class="form-control">@Model.Destination</label>
                </div>
            </div>
            <div class="d-flex justify-content-between">
                <div class="form-group w-50 mr-2">
                    <label asp-for="TakeOffTime"></label>
                    <label class="form-control">@Model.TakeOffTime</label>
                </div>
                <div class="form-group w-50 ml-2">
                    <label asp-for="Duration"></label>
                    <label class="form-control">@Model.Duration</label>
                </div>
            </div>
            <div class="d-flex justify-content-between">
                <div class="form-group w-25">
                    <label asp-for="PlaneType"></label>
                    <label class="form-control">@Model.PlaneType</label>
                </div>
                <div class="form-group w-25">
                    <label asp-for="PlaneNumber"></label>
                    <label class="form-control">@Model.PlaneNumber</label>
                </div>
                <div class="form-group w-25">
                    <label asp-for="PilotName"></label>
                    <label class="form-control">@Model.PilotName</label>
                </div>
            </div>
            <div class="d-flex justify-content-between">
                <div class="form-group w-50 mr-2">
                    <label asp-for="AvailableEconomy"></label>
                    <label class="form-control">@Model.AvailableEconomy</label>
                </div>
                <div class="form-group w-50 ml-2">
                    <label asp-for="AvailableBussines"></label>
                    <label class="form-control">@Model.AvailableBussines</label>
                </div>
            </div>
        </form>
    </div>
</div>

@if (Model.Reservations.Reservations.Any())
{
    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <ul class="tm-block-title text-dark" style="list-style-type:none;">
                <li>
                    <select id="ddlItemsPerPage" onchange="ddlItemsPerPage_OnChange()" style="border-radius: 1rem;">
                        <option value="10" selected="@(Model.Reservations.PaginationData.ItemsPerPage == 10)">10</option>
                        <option value="50" selected="@(Model.Reservations.PaginationData.ItemsPerPage == 50)">50</option>
                        <option value="100" selected="@(Model.Reservations.PaginationData.ItemsPerPage == 100)">100</option>
                    </select>
                </li>
            </ul>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <tr class="row">
                <th class="col-md-1">&#8470;</th>
                <th class="col-md-3">Client Email</th>
                <th class="col-md-3">Created on</th>
                <th class="col-md-2">Tickets Count</th>
                <th class="col-md-3">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var reservation in Model.Reservations.Reservations)
            {
                <tr class="row">
                    <td class="col-md-1">@(index++)</td>
                    <td class="col-md-3">@reservation.ClientEmail</td>
                    <td class="col-md-3">@reservation.CreatedOn.ToString(LongDateFormat)</td>
                    <td class="col-md-2">@reservation.TicketsCount</td>
                    <td class="col-md-3">
                        <a class="btn btn-outline-dark"
                           asp-controller="Reservation"
                           asp-action="Details"
                           asp-route-id="@reservation.Id">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="centre">
        <partial name="_ServerSidePaginationPartial" model="Model.Reservations.PaginationData" />
    </div>
}

@section Scripts{
    <script src="~/js/pagination.js"></script>
    <script>
		let url = "@Model.Reservations.PaginationData.Url";
		let numberOfPagesUrl = @Model.Reservations.PaginationData.NumberOfPages;
		let itemsPerPage = @Model.Reservations.PaginationData.ItemsPerPage;
		InitializePaginationList(url, numberOfPagesUrl, itemsPerPage)

         function ddlItemsPerPage_OnChange() {
            var e = document.getElementById("ddlItemsPerPage");
            var itemsPerPage = e.options[e.selectedIndex].text;
            var controller = "Fligth";
            var action = "Details";

            var link = "/"+controller+"/"+action+"/?page="+ @GlobalConstants.DefaultPage+"&itemsPerPage="+ itemsPerPage;
            window.location.href = link;
        }
    </script>
}
